/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keymap_swiss_de.h"

#define BAS_L 0
#define LOWER 1
#define RAISE 2
#define OSL   3
#define GAME  4
#define PAD   5

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };
&mt { tapping-term-ms = <150>; };

/ {
    chosen {
       zmk,matrix_transform = &ortho_transform;
    };

    behaviors {
        mo_sl: behavior_mo_sl {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_sl";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo>, <&sl>;
        };
        td0: td_alt_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "ALTD";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LALT>, <&kp RALT>, <&tog PAD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
//,----------------------------------------------------------------------------------------------------------------------------------------------------.
    &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T      &kp CH_Z    &kp U        &kp I      &kp O       &kp P        &kp BSPC
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &mt LCTRL ESC  &kp A      &kp S        &kp D        &kp F        &kp G      &kp H       &kp J        &kp K      &kp L       &kp SEMI     &kp SQT
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &kp LSHFT    &kp CH_Y     &kp X        &kp C        &kp V        &kp B      &kp N       &kp M        &kp CH_COMM &kp CH_DOT &kp CH_MINS  &kp RSHIFT
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
                              &none        &kp LGUI     &mo LOWER    &kp RET    &kp SPACE  &mo_sl RAISE OSL &td0 &kp RALT
//,--------------------------+------------+------------+------------+----------+-----------+------------+----------+-----------------------------------.
            >;
        };
        lower_layer {
            bindings = <
//,----------------------------------------------------------------------------------------------------------------------------------------------------.
    &kp ESC      &kp N1       &kp N2       &kp N3       &kp N4       &kp N5     &kp N6      &kp N7       &kp N8     &kp N9      &kp N0       &kp CH_QUOT
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &kp LCTRL    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5     &kp F6      &kp F7       &kp F8     &kp F9      &kp F10      &kp F11
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &none    &none        &none      &none       &none        &kp F12
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
                          	  &none        &none        &none        &none      &none       &none        &none      &none
//,--------------------------+------------+------------+------------+----------+-----------+------------+----------+-----------------------------------.
            >;
        };
        raise_layer {
            bindings = <
//,---------------------------------------------------------------------------------------------------------------------------------------------------------.
    &kp TILDE    &kp CH_BSLS  &kp CH_SLSH  &kp CH_LPRN  &kp CH_RPRN  &none      &kp PG_UP    &kp HOME     &kp UP      &kp END    &kp CH_UDIA  &kp DEL
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &kp LCTRL    &kp CH_AT    &kp CH_HASH  &kp CH_LCBR  &kp CH_RCBR  &none      &kp PG_DN    &kp LEFT     &kp DOWN    &kp RIGHT  &kp CH_QUES  &kp CH_EXLM
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &kp LSHFT    &kp CH_LABK  &kp CH_RABK  &kp CH_LBRC  &kp CH_RBRC  &none      &none       &none        &none      &kp CH_GRV  &kp CH_DLR   &none
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
                          	  &none        &kp LGUI     &kp LALT     &none      &none       &none        &none      &none
//,--------------------------+------------+------------+------------+----------+-----------+------------+----------+-----------------------------------.
            >;
        };
        osl_layer {
            bindings = <
//,---------------------------------------------------------------------------------------------------------------------------------------------------------.
    &none        &kp CH_PLUS  &kp CH_DQUO  &kp CH_ASTR  &kp CH_CCED  &kp CH_PERC  &kp CH_AMPR &kp CH_SLSH  &kp CH_LPRN &kp CH_RPRN &kp CH_EQL  &kp CH_QUOT
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &none        &kp CH_BRKP  &kp CH_AT    &kp CH_EURO  &none        &none      &none       &kp CH_PIPE &none        &none      &kp CH_DLR   &kp CH_ACUT
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &none        &none        &none        &none        &none        &none      &none      &none         &none      &none       &kp CH_DLR   &kp CH_TILD
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
                          	  &none        &none        &none        &none      &none       &none        &none      &none
//,--------------------------+------------+------------+------------+----------+-----------+------------+----------+-----------------------------------.
            >;
        };
        pad_layer {
            bindings = <
//,---------------------------------------------------------------------------------------------------------------------------------------------------------.
    &none        &none        &none        &none        &none        &none      &kp KP_MULTIPLY  &kp N7  &kp N8     &kp N9       &kp PLUS   &kp BSPC
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &none        &none        &none        &none        &none        &none      &kp KP_DIVIDE  &kp N4    &kp N5     &kp N6       &kp MINUS  &none
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
    &none        &none        &none        &none        &none        &none      &none      &kp N1        &kp N2     &kp N3       &none      &none
//|-------------+------------+------------+------------+------------+----------+-----------+------------+----------+-----------+------------+----------|
                          	  &none        &none        &none        &none      &kp KP_ENTER &kp N0      &tog PAD   &none
//,--------------------------+------------+------------+------------+----------+-----------+------------+----------+-----------------------------------.
            >;
        };

    };
};

